.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-accordion {
  padding: 7px;
}
table {
  width: 100%;
}

.btn {
  margin-top: 7px;
  justify-content: right;
}

.boton {
  display:flex;
  flex-direction: row;
}
